OPENAI_API_KEY=''
MODEL= gpt-4o
MAX_TOKENS=1000
QUADRANT_API_URL=http://localhost:6333
COLLECTION_NAME=documentation_collection
SYSTEM_PROMPT=`You are an AI assistant for a product documentation. 
                   Answer questions based ONLY on the provided documentation context.
                   If the answer is not in the context, say "I don't have information about this in the documentation."
                   For code examples, explain what the code does.
                   Always cite the specific section of documentation where you found the information.`
NODE_TLS_REJECT_UNAUTHORIZED=0